

/* Variables
-------------------------------------------------- */

@primary-foreground: #ffffff;
@secondary-foreground: #08C;

@primary-text: #000000;
@secondary-text: #ffffff;

@text-padding: 1em;
@outer-padding: 6px;

@paragraph-gap: 0.5em;

@thumbnail-height: 200px;



/* Fixes
-------------------------------------------------- */

blockquote p + p { margin-top: @paragraph-gap; }
pre p { margin-bottom: 0; }



/* Mixins
-------------------------------------------------- */

.side-padding (@p) {
	padding-left: @p;
	padding-right: @p;
}
.top-padding (@p) {
	padding-top: @p;
}
.box-sizing ( @model ) {
	-webkit-box-sizing: @model;
	-moz-box-sizing: @model;
	box-sizing: @model;
}
.transparent-container {
	background-color: fadeout( @primary-foreground, 60% );
}
.transparent-readable {
	background-color: fadeout( @primary-foreground, 35% );
}



/* Page Design
-------------------------------------------------- */
		
.container {
	/*.box-sizing( border-box );*/
	.transparent-container;
	padding: @outer-padding;
}



/* Navigation
-------------------------------------------------- */

.top-navigation-menu{

	display: block;

	&, & ul {
		margin: 0;
	}
	li {
		position: relative;
		display: block;
		float: left;
		margin: 0;
		padding: 0;
	}
	&>li {
		margin-bottom: (@outer-padding * 2);
	}
	&>.menu-parent-item {
		
	}
	li a {
		border-left: 1px dotted @secondary-foreground;
		display: inline-block;
		padding: @outer-padding;
		background-color: @primary-foreground;
	}
		&>li:first-child a {
			border: 0;
		}
	li ul {
		display: none;
		position: absolute;
		background-color: @secondary-foreground;
	}
	li li {
		display: block;
		background: #f0f;
	}	
	ul li a {
		border: 0;
		border-top: 1px dotted @primary-foreground;
		background-color: @secondary-foreground;
		color: @secondary-text;
	}
		ul>li:first-child>a {
			border: 0;
		}
	li:hover>ul {
		display: block;
		z-index: 1;
	}
	ul li:hover>ul {
		left: 100%;
		top: 0;
	}

}



/* Content
-------------------------------------------------- */

.inset-content-block {
	.box-sizing( border-box );
	overflow: auto;
	background-color: @primary-foreground;
	.side-padding( @text-padding );
	.top-padding( @text-padding );
}
.post + .post {
	margin-top: @outer-padding;
}

.post-icon {
	float: left;
	margin-right: (@text-padding / 2);
	background-color: @primary-foreground;
	.box-sizing( border-box );
	font-size: (@text-padding * 2);
}

.post-thumbnail {
	position: relative;
	display: block;
	height: @thumbnail-height;
}
	.post-thumbnail h1 {
		display: inline;
		margin: 0;
		position: absolute;
		bottom: (@text-padding / 4);
		left: 0;
		padding: (@text-padding / 4);
		.transparent-readable;
	}
	.thumbnail-link {
		color: @primary-text;
	}









