

/*

|------------------------------1170px---------------------------------|

Two-column full-width viewport diagram
|-----------------770px-----------------||-30px-||-------370px--------|
Two-column content inside 14px padding
  |---------------742px---------------|            |-----342px------|




*/


/* Variables
-------------------------------------------------- */

@header-color: #63c5ed;

@primary-foreground: #ffffff;
@secondary-foreground: #08C;

@primary-text: #000000;
@secondary-text: #ffffff;

@text-padding: 1em;
@outer-padding: 6px;

@paragraph-gap: 0.5em;

@thumbnail-height: 200px;



/* Fixes
-------------------------------------------------- */

blockquote p + p { margin-top: @paragraph-gap; }
pre p { margin-bottom: 0; }



/* Mixins
-------------------------------------------------- */

.side-padding (@p) {
	padding-left: @p;
	padding-right: @p;
}
.top-padding (@p) {
	padding-top: @p;
}
.box-sizing ( @model ) {
	-webkit-box-sizing: @model;
	-moz-box-sizing: @model;
	box-sizing: @model;
}
.transparent-container {
	background-color: fadeout( @primary-foreground, 60% );
}
.transparent-readable {
	background-color: fadeout( @primary-foreground, 35% );
}
.transparent-ultra-readable {
	background-color: fadeout( @primary-foreground, 20% );
}
.clearfix {
	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}



/* Layout
-------------------------------------------------- */

.container {
	.transparent-container;
	padding: @outer-padding;
}

.grid-preview { background-color: fadeout( black, 35% ); color: white; height: 2em; margin-bottom: 1em; margin-top: 1em; text-align: center; line-height: 2em; }



/* Site Header Module
-------------------------------------------------- */

.site-header {
	background-color: @header-color;
	overflow: hide;
	min-height: 120px;
}
	.site-header-title, .site-header-desc {
		display: block;
		float: left;
		clear: both;
		padding: (@text-padding / 4) (@text-padding / 2);
		.transparent-ultra-readable;
	}
	.site-header-title {
		margin: 0.5em 0 0 5%;
	}
	.site-header-desc {
		margin: 0.5em 0 0 10%;
	}



/* Search Module
-------------------------------------------------- */

.search {
	margin: 0;
}
	.search-container { margin: 0; }





/* Navigation Module
-------------------------------------------------- */
/*
.top-navigation-menu{

	display: block;
	.clearfix;

	&, & ul {
		margin: 0;
	}
	li {
		position: relative;
		display: block;
		float: left;
		margin: 0;
		padding: 0;
	}
	&>li {
		margin-bottom: (@outer-padding * 2);
	}
	&>.menu-parent-item {

	}
	li a {
		border-left: 1px dotted @secondary-foreground;
		display: inline-block;
		padding: @outer-padding (@outer-padding * 2);
		background-color: @primary-foreground;
	}
		&>li:first-child a {
			border: 0;
		}
	li ul {
		display: none;
		position: absolute;
		background-color: @secondary-foreground;
	}
	li li {
		display: block;
		background: #f0f;
	}
	ul li a {
		border: 0;
		border-top: 1px dotted @primary-foreground;
		background-color: @secondary-foreground;
		color: @secondary-text;
	}
		ul>li:first-child>a {
			border: 0;
		}
	li:hover>ul {
		display: block;
		z-index: 1;
	}
	ul li:hover>ul {
		left: 100%;
		top: 0;
	}
}
*/

/* Navigation Menu */
.main-navigation {
	margin-top: 24px;
	margin-top: 1.714285714rem;
	text-align: left;
}
.main-navigation li {
	margin-top: 24px;
	margin-top: 1.714285714rem;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 1.42857143;
}
.main-navigation a {
	color: #5e5e5e;
}
.main-navigation a:hover {
	color: #21759b;
}
.main-navigation ul.nav-menu,
.main-navigation div.nav-menu > ul {
	display: none;
}
.main-navigation ul.nav-menu.toggled-on,
.menu-toggle {
	/* display: inline-block; */
	display: block;
}

/* Minimum width of 600 pixels. */
@media screen and (min-width: 600px) {
	.main-navigation ul.nav-menu,
	.main-navigation div.nav-menu > ul {
		border-bottom: 1px solid #ededed;
		border-top: 1px solid #ededed;
		display: inline-block !important;
		text-align: left;
		width: 100%;
	}
	.main-navigation ul {
		margin: 0;
		text-indent: 0;
	}
	.main-navigation li a,
	.main-navigation li {
		display: inline-block;
		text-decoration: none;
	}
	.main-navigation li a {
		border-bottom: 0;
		color: #6a6a6a;
		line-height: 3.692307692;
		text-transform: uppercase;
		white-space: nowrap;
	}
	.main-navigation li a:hover {
		color: #000;
	}
	.main-navigation li {
		margin: 0 40px 0 0;
		margin: 0 2.857142857rem 0 0;
		position: relative;
	}
	.main-navigation li ul {
		display: none;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 100%;
		z-index: 1;
	}
	.main-navigation li ul ul {
		top: 0;
		left: 100%;
	}
	.main-navigation ul li:hover > ul {
		border-left: 0;
		display: block;
	}
	.main-navigation li ul li a {
		background: #efefef;
		border-bottom: 1px solid #ededed;
		display: block;
		font-size: 11px;
		font-size: 0.785714286rem;
		line-height: 2.181818182;
		padding: 8px 10px;
		padding: 0.571428571rem 0.714285714rem;
		width: 180px;
		width: 12.85714286rem;
		white-space: normal;
	}
	.main-navigation li ul li a:hover {
		background: #e3e3e3;
		color: #444;
	}
	.main-navigation .current-menu-item > a,
	.main-navigation .current-menu-ancestor > a,
	.main-navigation .current_page_item > a,
	.main-navigation .current_page_ancestor > a {
		color: #636363;
		font-weight: bold;
	}
	.menu-toggle {
		display: none;
	}
}






/* Big Post Excerpt Module
-------------------------------------------------- */

.full-excerpt{
	& + & {
		margin-top: @outer-padding;
	}
}
	.full-excerpt-inset {
		.box-sizing( border-box );
		overflow: auto;
		background-color: @primary-foreground;
		.side-padding( @text-padding );
		.top-padding( @text-padding );
	}
		.full-excerpt-inset > .post-icon {
			float: left;
			margin-right: (@text-padding / 2);
			background-color: @primary-foreground;
			.box-sizing( border-box );
			font-size: (@text-padding * 2);
		}
	.full-excerpt-thumbnail-link {
		color: @primary-text;
	}
		.full-excerpt-post-thumbnail {
			position: relative;
			display: block;
			height: @thumbnail-height;
		}
			.full-excerpt-post-thumbnail > h1 {
				display: inline;
				margin: 0;
				position: absolute;
				bottom: (@text-padding / 4);
				left: 0;
				padding: (@text-padding / 4);
				.transparent-readable;
			}










